.search-container{
    padding:10px;
    margin-right:200px
}

.result-list{
    margin:0;
    padding:5;
}



html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}